* 
{
    flex: content;
    align-items: center;
    background-color: #1e1e1e;
}

body
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

navbar 
{
    position: absolute;
    padding: 10px;
    display: table;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: 0;
}
#dev
{
    color: #0085FF;
}

.form 
{   
    border-radius: 10px;
    background-color: #0085FF;
    text-align: center;
    margin: 50px;
    padding: 50px;
}
#a
{
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-radius: 5px; 
    color: white; 
    margin-right: 5px; 
    padding: 10px; 
}
#b
{
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-radius: 5px; 
    color: white; 
    margin-right: 5px; 
    padding: 10px; 
}
#subm
{
    font-family: 'Poppins', sans-serif; 
    border-width: 1px; 
    border-style: solid; 
    border-color: #1e1e1e;
    border-radius: 5px; 
    color: white; 
    margin-top: 15px; 
    padding: 10px; 
    width: 4cm;
    transition: 0.3s;
}
#subm:hover
{
    font: weight 500px;;
    background-color: #0085FF;
    color: #1e1e1e;
    opacity: 10;
    cursor: pointer;
}

#ansbox
{
    font-family: 'Poppins', sans-serif; 
    border-width: 1px; 
    border-style: solid; 
    border-color: white; 
    border-radius: 5px; 
    color: white; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
    padding: 10px; 
}

@media only screen and (max-width:400px) 
{
    * 
    {
        text-align: center;
    }
}